<script id="procImgSource" type="text/x-handlebars-template">
    {{#each list}}
    <tr role="row">
        <td>
            <div class="media">
                <div class="media-left">
                    <img src="Files/Product/{{ProcID}}_{{ID}}.jpg?v={{getDate}}" style="width: 70px; height: 70px;" class="img-circle" alt="{{Title}}">
                </div>
            </div>
        </td>
        <td class="text-blue-700">{{Title}}</td>
        <td>
            <a id="addEdit" data-id="{{ID}}" data-title="{{Title}}" data-toggle="modal" data-target="#addEditImg" class="text-blue-800 mr-10"><i class="icon-pencil"></i> ویرایش</a>
            <a id="del" data-id="{{ID}}" class="text-danger-800"><i class="icon-bin"></i> حذف</a>
        </td>
    </tr>
    {{/each}}
</script>

<div class="panel panel-flat">
    <div class="panel-heading">
        <a data-toggle="modal" data-target="#addEditImg"
           class="btn max-width-120 btn-block bg-green-800 btn-labeled btn-rounded btn-xs heading-btn legitRipple"
           id="addEdit">
            <b>
                <i class="icon-plus3"></i>
            </b>
            افزودن
        </a>
        <small class="display-block mt-15 text-size-small" id="count"></small>
    </div>
    <div class="panel-body">
        <div id="dataTable">
            <table class="table datatable" id="tblProcImg">
                <thead>
                    <tr>
                        <th>تصویر</th>
                        <th>عنوان</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="no-records" class="text-center hidden">
            <div class="icon-object no-border">
                <img class="img-responsive" src="~/Areas/Admin/Content/Images/notFound.png" title="notDataFound" />
            </div>
            <h5 class="text-semibold">متاسفانه رکوردی یافت نشد!</h5>
            <p class="mb-15">داده‌ای برای نمایش وجود ندارد می‌توانید از طریق دکمه ثبت مورد جدیدی را ثبت نمائید.</p>
        </div>
    </div>
</div>

<div id="addEditImg" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">افزودن تصویر</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="FrmProcImg">
                    <fieldset class="content-group col-lg-12">
                        <div class="form-group mb-40">
                            <input type="hidden" id="ID" name="ID" value="-1" />
                            <label class="control-label title col-lg-3">تصویر</label>
                            <div class="col-lg-4" id="fileupload">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail">
                                        <img id="DemoImg" src="~/Areas/Admin/Content/Images/demoUpload.jpg" />
                                    </div>
                                    <div id="btns">
                                        <div class="fileupload-preview fileupload-exists thumbnail"></div>
                                        <div class="fileupload-btn">
                                            <span class="btn btn-file btn-block bg-slate"><span class="fileupload-new" id="DemoImgBtn">انتخاب</span><span class="fileupload-exists">تغییر</span><input type="file" name="Image" id="ImgImage" /></span>
                                            <a href="#" class="btn btn-default btn-block mt-5 fileupload-exists" data-dismiss="fileupload">حذف</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-lg-offset-3">
                                <span class="validation-error-label field-validation-valid mt-15" data-valmsg-for="ImgImage" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label title col-lg-3">عنوان</label>
                            <div class="col-lg-9">
                                <input type="text" name="Title" id="ImgTitle" class="form-control maxlength" maxlength="50" autocomplete="off">
                                <span class="validation-error-label field-validation-valid mt-15" data-valmsg-for="ImgTitle" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link text-grey-300" data-dismiss="modal"> بی خیال</button>
                <button id="btnAddEdit" class="btn bg-green-800"><span class="ladda-label">ثبت</span></button>
            </div>
        </div>
    </div>
</div>
