<script id="adminSource" type="text/x-handlebars-template">
    {{#each list}}
    <tr role="row">
        <td>
            {{Name}} {{Family}}
        </td>
        <td class="text-center">
            <span class="text-blue-800">{{RoleName}}</span>
        </td>
        <td class="text-center">
            {{Phone}}
        </td>
        <td class="text-center">{{NatCode}}</td>
        <td class="text-center">{{BDate}}</td>
        <td class="text-center text-grey-300">
            {{#if Status}}
            <span class="label label-rounded label-icon label-success"><i class="icon-checkmark3"></i></span>
            {{else}}
            <span class="label label-rounded label-icon label-danger"><i class="icon-cross2"></i></span>
            {{/if}}
        </td>
        <td class="text-center">
            <ul class="icons-list">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a id="addEdit"
                               onclick="pageLoad('/Admin/Admin/AddEdit/{{ID}}', 'ویرایش مدیر {{Name}} {{Family}}','adminList')"
                               class="text-blue-800">
                                <i class="icon-pencil"></i> ویرایش
                            </a>
                        </li>
                        <li><a id="del" data-id="{{ID}}" class="text-danger-800"><i class="icon-bin"></i>حذف</a></li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    {{/each}}
</script>
<div id="dataTable">
    <div class="datatable-scroll">
        <table class="table datatable-basic table-hover dataTable no-footer" id="tblAdmin">
            <thead>
                <tr role="row">
                    <th>نام</th>
                    <th class="text-center">نقش کاربری</th>
                    <th class="text-center">موبایل</th>
                    <th class="text-center">کد ملی</th>
                    <th class="text-center">تاریخ تولد</th>
                    <th class="text-center">وضعیت</th>
                    <th class="text-center control">عملیات</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="no-records" class="text-center hidden">
    <div class="icon-object no-border">
        <img class="img-responsive" src="~/Areas/Admin/Content/Images/notFound.png" title="داده ای یافت نشد" />
    </div>
    <h5 class="text-semibold">متاسفانه رکوردی یافت نشد!</h5>
    <p class="mb-15">داده‌ای برای نمایش وجود ندارد می‌توانید از طریق دکمه ثبت مورد جدیدی را ثبت نمائید.</p>
</div>

