@model Src.Models.ViewData.Table.Customer.ViewAccountVar
@{
    ViewBag.Title = "لپتاپ آسیا";
    Layout = "~/Views/Sheared/_Layout_Secondery.cshtml";
}

@section MetaTags{
    <meta name="description" content="@ViewBag.Title">
    <meta name="robots" content="nofollow,noindex"/>
}

<div class="col-md-6">
    @Html.Partial("~/Views/Partials/Account/Login.cshtml", Model)
</div>
<div class="col-md-6 text-right">
    <div class="padding-top-3x hidden-md-up"></div>
    <h3 class="margin-bottom-1x">کاربر جدید هستید؟ ثبت نام کنید</h3>
    @Html.Partial("~/Views/Partials/Account/Register.cshtml", Model)
</div>