<script id="menuSource" type="text/x-handlebars-template">
    {{#each list}}
    <tr>
        <td>
            {{#if HasChild}}
            <a id="getChild" data-toggle="collapse" data-target="#{{ID}}" data-id="{{ID}}"><i class="icon-arrow-left5"></i></a>
            {{/if}}
            {{Title}}
        </td>
        <td class="text-center">
            <a href="{{Link}}" dir="ltr" target="_blank" class="text-blue">{{Link}}</a>
        </td>
        <td class="text-center">
            <span class="label label-rounded label-warning">
                {{Sort}}
            </span>
        </td>
        <td class="text-center">
            {{#if Status}}
            <span class="label label-rounded label-icon label-success"><i class="icon-checkmark3"></i></span>
            {{else}}
            <span class="label label-rounded label-icon label-danger"><i class="icon-cross2"></i></span>
            {{/if}}
        </td>
        <td class="text-center">
            <ul class="icons-list">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a id="addEdit"
                               data-toggle="modal"
                               data-target="#addEditMenu"
                               data-id="{{ID}}"
                               data-title="{{Title}}"
                               data-link="{{Link}}"
                               data-pid="{{PID}}"
                               data-sort="{{Sort}}"
                               data-status="{{Status}}"
                               class="text-blue-800">
                                <i class="icon-pencil"></i> ویرایش
                            </a>
                        </li>
                        <li><a id="del" data-id="{{ID}}" data-hasChild="{{HasChild}}" class="text-danger-800"><i class="icon-bin"></i>حذف</a></li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <tr class="collapse bg-f8" id="{{ID}}">
        <td colspan="5">
            <table class="table datatable">
                <tbody></tbody>
            </table>
        </td>
    </tr>
    {{/each}}
</script>
<div id="dataTable">
    <table class="table datatable" id="Tblmenu">
        <thead>
            <tr>
                <th>عنوان</th>
                <th class="text-center">لینک</th>
                <th class="text-center">ترتیب</th>
                <th class="text-center">وضعیت</th>
                <th class="text-center">عملیات</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="no-records" class="text-center hidden">
    <div class="icon-object no-border">
        <img class="img-responsive" src="~/Areas/Admin/Content/Images/notFound.png" title="notDataFound" />
    </div>
    <h5 class="text-semibold">متاسفانه رکوردی یافت نشد!</h5>
    <p class="mb-15">داده‌ای برای نمایش وجود ندارد می‌توانید از طریق دکمه ثبت مورد جدیدی را ثبت نمائید.</p>
</div>

<div id="addEditMenu" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">افزودن لینک</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="FrmMenu">
                    <input type="hidden" name="ID" id="ID" />
                    <fieldset class="content-group col-lg-12">
                        <div class="form-group">
                            <label class="control-label title col-lg-3">عنوان</label>
                            <div class="col-lg-9">
                                <input type="text" name="Title" id="Title" class="form-control" maxlength="50" autocomplete="off">
                                <span class="validation-error-label field-validation-valid mt-15" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label title col-lg-3">لینک</label>
                            <div class="col-lg-9">
                                <input type="url" name="Link" id="Link" class="form-control text-left" dir="ltr" maxlength="200" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label title col-lg-3">پدر</label>
                            <div class="col-lg-9">
                                <ul id="TreeSelect" class="list-group no-border"></ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3">ترتیب</label>
                            <div class="col-lg-9">
                                <input type="number" class="form-control touchspin text-center" autocomplete="off" name="Sort" id="Sort" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-semibold title col-lg-3">وضعیت</label>
                            <div class="col-lg-9 col-xs-10">
                                <label>نمایش</label>
                                <label class="ix-input-swich">
                                    <input type="checkbox" class="cSwitch" name="Status" id="Status"/>
                                </label>
                                <label class="ml-10">عدم نمایش</label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link text-grey-300" data-dismiss="modal"> بی خیال</button>
                <button id="btnAddEdit" class="btn bg-green-800"><span class="ladda-label">ثبت</span></button>
            </div>
        </div>
    </div>
</div>