 <!-- Entry-->
<div class="entry pb-2">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/05.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">iPhone X 256 GB Space Gray</a></h4><span class="entry-meta">$1,450.00</span>
    </div>
</div>
<!-- Entry-->
<div class="entry">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/04.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">Canon EOS M50 Mirrorless Camera</a></h4><span class="entry-meta">$910.00</span>
    </div>
</div>
<!-- Entry-->
<div class="entry">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/07.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">Microsoft Xbox One S</a></h4><span class="entry-meta">$298.99</span>
    </div>
</div>
