 <!-- Entry-->
<div class="entry">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/01.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">GoPro Hero4 Silver</a></h4><span class="entry-meta">$287.99</span>
    </div>
</div>
<!-- Entry-->
<div class="entry">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/02.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">Puro Sound Labs BT2200</a></h4><span class="entry-meta">$95.99</span>
    </div>
</div>
<!-- Entry-->
<div class="entry">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/03.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">HP OfficeJet Pro 8710</a></h4><span class="entry-meta">$89.70</span>
    </div>
</div>
