<div class="owl-slide"><img class="" src="~/Content/Images//hero-slider/01.jpg" alt="Puma Backpack"></div>
<div class="owl-slide"><img class="" src="~/Content/Images//hero-slider/01.jpg" alt="Puma Backpack"></div>
