   <!-- Entry-->
<div class="entry pb-2">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/08.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">Samsung Gear 360 VR Camera</a></h4><span class="entry-meta">$68.00</span>
    </div>
</div>
<!-- Entry-->
<div class="entry">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/09.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">Samsung Galaxy S9+ 64 GB</a></h4><span class="entry-meta">$839.99</span>
    </div>
</div>
<!-- Entry-->
<div class="entry">
    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/10.jpg" alt="Product"></a></div>
    <div class="entry-content">
        <h4 class="entry-title"><a href="shop-single.html">Zeus Bluetooth Headphones</a></h4><span class="entry-meta">$28.99</span>
    </div>
</div>
