<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product-card mb-30">
        <div class="product-badge bg-secondary border-default text-body">ناموجود</div><a class="product-thumb" href="shop-single.html"><img src="~/Content/Images//shop/products/03.jpg" alt="Product"></a>
        <div class="product-card-body">
            <div class="product-category"><a href="#">لپتاپ نو</a></div>
            <h3 class="product-title" lang="en"><a href="shop-single.html">Microsoft Surface Pro 4</a></h3>
            <h4 class="product-price">13،000،000 تومان</h4>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product-card mb-30">
        <a class="product-thumb" href="shop-single.html"><img src="~/Content/Images//shop/products/12.jpg" alt="Product"></a>
        <div class="product-card-body">
            <div class="product-category"><a href="#">لوازم جانبی</a></div>
            <h3 class="product-title" lang="en"><a href="shop-single.html">Apple Watch Series 3</a></h3>
            <h4 class="product-price">3،400،000 تومان</h4>
        </div>
        <div class="product-button-group"><a class="product-button" data-toast data-toast-type="success" data-toast-position="topLeft" data-toast-title=":)" data-toast-message="محصول با موفقیت به سبد خرید افزوده شد"><i class="icon-shopping-cart"></i><span>افزودن به سبد خرید</span></a></div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product-card mb-30">
        <div class="product-badge bg-danger">پیشنهاد ویژه</div><a class="product-thumb" href="shop-single.html"><img src="~/Content/Images//shop/products/09.jpg" alt="Product"></a>
        <div class="product-card-body">
            <div class="product-category"><a href="#">لوازم جانبی</a></div>
            <h3 class="product-title" lang="en"><a href="shop-single.html">Samsung Gear 360 Camera</a></h3>
            <h4 class="product-price">
                <del>3،600،000</del>
                3،000،000 تومان
            </h4>
        </div>
        <div class="product-button-group"><a class="product-button" data-toast data-toast-type="success" data-toast-position="topLeft" data-toast-title=":)" data-toast-message="محصول با موفقیت به سبد خرید افزوده شد"><i class="icon-shopping-cart"></i><span>افزودن به سبد خرید</span></a></div>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
    <div class="product-card mb-30">
        <div class="rating-stars">
            <i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
        </div><a class="product-thumb" href="shop-single.html"><img src="~/Content/Images//shop/products/02.jpg" alt="Product"></a>
        <div class="product-card-body">
            <div class="product-category"><a href="#">لوازم جانبی</a></div>
            <h3 class="product-title" lang="en"><a href="shop-single.html">Aberg Best 21 Mega Pixels</a></h3>
            <h4 class="product-price">2،000،000 تومان</h4>
        </div>
        <div class="product-button-group"><a class="product-button" data-toast data-toast-type="success" data-toast-position="topLeft" data-toast-title=":)" data-toast-message="محصول با موفقیت به سبد خرید افزوده شد"><i class="icon-shopping-cart"></i><span>افزودن به سبد خرید</span></a></div>
    </div>
</div>