<section class="fw-section" style="background-image: url(../../Content/Images/banners/shop-banner-bg-02.jpg);">
    <a class="no-decor blo" href="shop-grid-ls.html">
        <div class="container text-center padding-top-4x padding-bottom-8x">
            <div class="d-inline-block bg-danger text-white text-lg py-2 px-3 rounded">پیشنهاد لحظه‌ای</div>
            <div class="display-4 text-white py-4">پرینتر و اسکنرهای</div>
            <div class="d-inline-block w-200 pt-2"><img class="d-block w-100" src="~/Content/Images//banners/shop-banner-logo.png" alt="Canon"></div>
            <div class="pt-5"></div>
            <div class="countdown countdown-inverse" data-date-time="12/30/2019 12:00:00">
                <div class="item">
                    <div class="days">00</div><span class="days_ref">روز</span>
                </div>
                <div class="item">
                    <div class="hours">00</div><span class="hours_ref">ساعت</span>
                </div>
                <div class="item">
                    <div class="minutes">00</div><span class="minutes_ref">دقیقه</span>
                </div>
                <div class="item">
                    <div class="seconds">00</div><span class="seconds_ref">ثانیه</span>
                </div>
            </div>
        </div>
    </a>
</section>
