<section class="widget widget-light-skin">
    <h3 class="widget-title">از آخرین اخبار و تخفیف های ما باخبر شوید</h3>
    <form class="row" action="" method="post" target="_blank" novalidate>
        <div class="col-sm-9">
            <div class="input-group input-light">
                <input class="form-control" type="email" name="EMAIL" placeholder="ایمیل"><span class="input-group-addon"><i class="icon-mail"></i></span>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="" tabindex="-1">
            </div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary btn-block mt-0" type="submit">ارسال</button>
        </div>
    </form>
    <div class="pt-3 nemad">
        <img class="" alt="enamad" src="~/Content/Images//enamad.png">
        <img class="" alt="enamad" src="~/Content/Images//samandehi.png">
    </div>
</section>
