@model  Src.Models.ViewData.Table.Newsletter.ViewTbl_Newsletter
<section class="widget widget-light-skin">
    <h3 class="widget-title">از آخرین اخبار و تخفیف های ما باخبر شوید</h3>
    <form class="row" action="/Home/Index" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="col-sm-9">
            <div class="input-group input-light">
                @Html.TextBoxFor(item => item.Email, new { @class = "form-control", placeholder = "ایمیل", @type = "email" })
                <span class="input-group-addon"><i class="icon-mail"></i></span>
                @Html.ValidationMessageFor(item => item.Email, "", new { @class = "invalid-feedback" })
            </div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary btn-block mt-0" type="submit">ارسال</button>
        </div>
    </form>
    <div class="pt-3 nemad">
        <a href=""><img class="" alt="enamad" src="~/Content/Images//enamad.png"></a>
        <a href=""><img class="" alt="enamad" src="~/Content/Images//samandehi.png"></a>
    </div>
</section>
