 <!-- Search / Categories-->
<div class="search-box-wrap d-flex">
    <div class="search-box-inner align-self-center">
        <div class="search-box d-flex">
            <form class="input-group" action="/Product/" method="post">
                <span class="input-group-btn">
                    <button type="submit"><i class="icon-search"></i></button>
                </span>
                <input id="search-input" class="form-control" type="text" placeholder="جستجو ..." autocomplete="off">
            </form>
            <div class="search-result-box"></div>
        </div>
    </div>
</div>
<!-- Toolbar-->
<div class="toolbar d-flex">
    <div class="toolbar-item visible-on-mobile mobile-menu-toggle">
        <a href="#">
            <div><i class="icon-menu"></i><span class="text-label">منو</span></div>
        </a>
    </div>
    <div class="toolbar-item hidden-on-mobile">
        @if (Request.Cookies.Get("ALCustInfo") == null)
        {
            <a href="/Account">
                <div><i class="icon-user"></i><span class="text-label">ورود / ثبت نام</span></div>
            </a>
        }
        else
        {
            var data = Request.Cookies["ALCustInfo"].Values;
            <a><div><i class="icon-chevron-down"></i><span class="text-label">@data.Get("Name") @data.Get("Family")</span></div></a>
            <ul class="toolbar-dropdown">
                <li><a href="/Account/Profile"><i class="icon-user"></i>پروفایل</a></li>
                <li><a href="/Account/Order"><i class="icon-shopping-bag"></i>سفارش های من</a></li>
                <li><hr></li>
                <li><a href="/Account/Logout"><i class="icon-log-out"></i>خروج از حساب کاربری</a></li>
            </ul>
        }
    </div>
    <div class="toolbar-item">
        @if (Request.Cookies.Get("ALCustInfo") == null)
        {
            <a href="/Account">
                <div><span class="cart-icon"><i class="icon-shopping-cart"></i></span><span class="text-label">سبد خرید</span></div>
            </a>
        }
        else
        {
            <a href="Account/Card">
                <div><span class="cart-icon"><i class="icon-shopping-cart"></i><span class="count-label">3   </span></span><span class="text-label">سبد خرید</span></div>
            </a>
            <div class="toolbar-dropdown cart-dropdown widget-cart hidden-on-mobile">
                <!-- Entry-->
                <div class="entry">
                    <div class="entry-thumb"><a href="shop-single.html"><img src="~/Content/Images//shop/widget/06.jpg" alt="Product"></a></div>
                    <div class="entry-content">
                        <h4 class="entry-title"><a href="shop-single.html" lang="en">پرینتر لیزر جت پرو اچ‌پی</a></h4><span class="entry-meta">1 عدد | 1،500،000 تومان</span>
                    </div>
                    <div class="entry-delete"><i class="icon-x-circle"></i></div>
                </div>
                <div class="text-center">
                    <p class="text-gray-dark py-2 mb-0"><span class='text-muted'>جمع کل :</span> 1،500،000 تومان &nbsp;</p>
                </div>
                <div class="d-flex">
                    <div class="w-400"><a class="btn btn-secondary btn-sm btn-block mb-0" href="cart.html">مشاهد سبد خرید</a></div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Mobile Menu-->
<div class="mobile-menu">
    <!-- Search Box-->
    <div class="mobile-search">
        <form class="input-group" action="/Home/Search" method="post">
            <span class="input-group-btn">
                <button type="submit"><i class="icon-search"></i></button>
            </span>
            <input class="form-control" type="search" placeholder="جستجو ...">
        </form>
    </div>
    <!-- Toolbar-->
    <div class="toolbar">
        <div class="toolbar-item">
            @if (Request.Cookies.Get("ALCustInfo") == null)
            {
                <a href="/Account">
                    <div><i class="icon-user"></i><span class="text-label">ورود / ثبت نام</span></div>
                </a>
            }
            else
            {
                var data = Request.Cookies["ALCustInfo"].Values;
                <a><div><i class="icon-chevron-down"></i><span class="text-label">@data.Get("Name") @data.Get("Family")</span></div></a>
                <ul class="toolbar-dropdown">
                    <li><a href="/Account/Profile"><i class="icon-user"></i>پروفایل</a></li>
                    <li><a href="/Account/Order"><i class="icon-shopping-bag"></i>سفارش های من</a></li>
                    <li><hr></li>
                    <li><a href="/Account/Logout"><i class="icon-log-out"></i>خروج از حساب کاربری</a></li>
                </ul>
            }
        </div>
    </div>
    <!-- Slideable (Mobile) Menu-->
    <nav class="slideable-menu">
        <ul class="menu" data-initial-height="385">
            <li class="has-children">
                <span><a href="shop-grid-ls.html">لپتاپ نو</a><span class="sub-menu-toggle"></span></span>
                <ul class="slideable-submenu">
                    <li class="has-children">
                        <span><a href="">بر اساس برند</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">Asus</a></li>
                            <li><a href="">Apple</a></li>
                            <li><a href="">Lenovo</a></li>
                            <li><a href="">HP</a></li>
                            <li><a href="">Dell</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span><a href="">بر اساس پردازنده</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu" lang="en">
                            <li><a href="">I9</a></li>
                            <li><a href="">I7</a></li>
                            <li><a href="">I5</a></li>
                            <li><a href="">I3</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span><a href="">بر اساس قیمت</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">کمتر از 5 ملیون تومان</a></li>
                            <li><a href="">بین 5 تا 10 ملیون تومان</a></li>
                            <li><a href="">بیش تر از 10 ملیون تومان</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span><a href="#">لپتاپ کارکده</a><span class="sub-menu-toggle"></span></span>
                <ul class="slideable-submenu">
                    <li class="has-children">
                        <span><a href="">بر اساس برند</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">Asus</a></li>
                            <li><a href="">Apple</a></li>
                            <li><a href="">Lenovo</a></li>
                            <li><a href="">HP</a></li>
                            <li><a href="">Dell</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span><a href="">بر اساس پردازنده</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu" lang="en">
                            <li><a href="">I9</a></li>
                            <li><a href="">I7</a></li>
                            <li><a href="">I5</a></li>
                            <li><a href="">I3</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span><a href="">بر اساس قیمت</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">کمتر از 5 ملیون تومان</a></li>
                            <li><a href="">بین 5 تا 10 ملیون تومان</a></li>
                            <li><a href="">بیش تر از 10 ملیون تومان</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span><a href="account-orders.html">لوازم جانبی</a><span class="sub-menu-toggle"></span></span>
                <ul class="slideable-submenu">
                    <li class="has-children">
                        <span><a href="">موس</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">Logitech</a></li>
                            <li><a href="">Apple</a></li>
                            <li><a href="">Tsco</a></li>
                            <li><a href="">Genius</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span><a href="">حافظه جانبی</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu" lang="en">
                            <li><a href="">فلش</a></li>
                            <li><a href="">مموری کارت</a></li>
                            <li><a href="">هارد اکسترنال</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span><a href="">سایر</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">کیف و کوله</a></li>
                            <li><a href="">کول پد</a></li>
                            <li><a href="">اسپیکر</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <span><a href="">قطعات</a><span class="sub-menu-toggle"></span></span>
                <ul class="slideable-submenu">
                    <li class="has-children">
                        <span><a href="">کارت گرافیک</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">کارت گرافیک زوتاک Zotac</a></li>
                            <li><a href="">کارت گرافیک AMD</a></li>
                            <li><a href="">کارت گرافیک بایوستار Biostar</a></li>
                            <li><a href="">کارت گرافیک گیگابایت Gigabyte</a></li>
                            <li><a href="">کارت گرافیک ایسوس Asus</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span><a href="">رم</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">رم پاتریوت PATRIOT</a></li>
                            <li><a href="">رم جي اسکيل G.SKILL</a></li>
                            <li><a href="">رم زپلین Zeppelin</a></li>
                            <li><a href="">رم کینگستون Kingston</a></li>
                            <li><a href="">رم ای دیتا Adata</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        <span><a href="">سایر</a><span class="sub-menu-toggle"></span></span>
                        <ul class="slideable-submenu">
                            <li><a href="">حافظه داخلی</a></li>
                            <li><a href="">منبع تغذیه (پاور)</a></li>
                            <li><a href="">کیس کامپیوتر</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span><a href="blog-ns.html">بلاگ</a><span class="sub-menu-toggle"></span></span>
            </li>
            <li>
                <span><a href="about.html">درباره ما</a><span class="sub-menu-toggle"></span></span>
            </li>
            <li>
                <span><a href="contact.html">تماس با‌ما</a><span class="sub-menu-toggle"></span></span>
            </li>
            <li class="active">
                <span><a href="">لیست ‌قیمت روز</a><span class="sub-menu-toggle"></span></span>
            </li>
        </ul>
    </nav>
</div>

