<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            <li><a href="/"><i class="icon-windows8"></i><span>مشاهده سایت</span></a></li>
            <li><a onclick="pageLoad('/Admin/Dashboard','پنل مدیریت لپتاپ آسیا')"><i class="icon-home"></i><span>میز کار</span></a></li>
            <li>
                <a><span>عمومی</span><i class="icon-bus"></i></a>
                <ul>
                    <li>
                        <a><i class="icon-cart"></i><span>محصولات</span></a>
                        <ul>
                            <li><a onclick="pageLoad('/Admin/Product/AddEdit', 'افزودن محصول','procAddEdit')" data-target="procAddEdit">ثبت محصول جدید</a></li>
                            <li><a onclick="pageLoad('/Admin/Product', 'لیست محصولات','procList')" data-target="procList">لیست محصولات</a></li>
                            <li><a onclick="pageLoad('/Admin/Product/Category', 'دستبندی محصولات ','procCat')" data-target="procCat">دستبندی</a></li>
                            <li><a onclick="pageLoad('/Admin/Product/Brand', 'برندها','procBrand')" data-target="procBrand">برندها</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-credit-card2"></i> <span>مالی</span></a>
                        <ul>
                            <li><a onclick="pageLoad('/Admin/Order', 'سفارش ها','orderList')" data-target="orderList">سفارش ها</a></li>
                        </ul>
                    </li>
                    @*<li>
                            <a href="#"><i class="icon-percent"></i> <span>تخفیف</span></a>
                            <ul>
                                <li><a href="#">ایجاد تخفیف</a></li>
                                <li><a href="#">لیست تخفیف ها</a></li>
                            </ul>
                        </li>*@
                </ul>
            </li>
            <li>
                <a><span>افراد</span><i class="icon-users"></i></a>
                <ul>
                    <li>
                        <a href="#"><i class="icon-user-tie"></i> <span>مدیران</span></a>
                        <ul>
                            <li><a onclick="pageLoad('/Admin/Admin/AddEdit', 'افزودن مدیر','adminAddEdit')" data-target="adminAddEdit">افزودن مدیر</a></li>
                            <li><a onclick="pageLoad('/Admin/Admin', 'لیست مدیران','adminList')" data-target="adminList">لیست مدیران</a></li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="pageLoad('/Admin/Customer', 'لیست مشتریان','custList')" data-target="custList"><i class="icon-users"></i> <span>مشتریان</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a><span>محتوا</span><i class="icon-newspaper"></i></a>
                <ul>
                    <li><a onclick="pageLoad('/Admin/Media', 'مدیا','mediaList')" data-target="mediaList"><i class="icon-images2"></i><span> مدیا</span></a></li>
                    @*<li>
                            <a href="#"><i class="icon-quill4"></i><span>مطالب</span></a>
                            <ul>
                                <li><a href="#">لیست مطالب</a></li>
                                <li><a href="#">درج مطلب</a></li>
                                <li><a href="#">دستبندی</a></li>
                            </ul>
                        </li>*@
                    <li>
                        <a href="#"><i class="icon-files-empty2"></i><span>صفحات</span></a>
                        <ul>
                            <li><a onclick="pageLoad('/Admin/Page/AddEdit', 'افزودن صفحه','pageAddEdit')" data-target="pageAddEdit">افزودن صفحه</a></li>
                            <li><a onclick="pageLoad('/Admin/Page', 'لیست صفحات','pageList')" data-target="pageList">لیست صفحات</a></li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="pageLoad('/Admin/Menu', 'منو','menuList')" data-target="menuList"><i class="icon-menu"></i><span>منو</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
