<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <input type="file" id="image" />
    <button type="button">click</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $("button").click(() => {
                let formData = new FormData();
                formData.append("image", $("#image")[0].files[0]);

                debugger;

                $.ajax({
                    url: "http://localhost:4219/api/v1/product/Upload/18546sdfsd",
                    type: "Post",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: (resualt) => {
                        alert(resualt);
                    }
                });
            });
        });
    </script>
</body>
</html>