<div class="content-group">
    <div class="page-header page-header-default page-header-xs sticky">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                    <span class="text-semibold">دستبندی محصولات</span>
                </h5>
            </div>
            <div class="heading-elements">
                <a onclick="pageLoad('/Admin/Product/AddEditCat', 'افزودن دسته','procCat')" class="btn bg-green-800 btn-labeled heading-btn legitRipple"><b><i class="icon-plus3"></i></b>افزودن دسته جدید</a>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a onclick="pageLoad('/Admin/Dashboard','پنل مدیریت لپتاپ آسیا')"><i class="icon-home position-left"></i> میز کار</a></li>
                <li class="active">دستبندی محصولات</li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="reload"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            @Html.Partial("~/Areas/Admin/Views/Partial/Product/ProcCat.cshtml")
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Scripts/Core/makepaging.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Scripts/Page/Product/procCat.js"></script>
