<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پنل مدیریت لپتاپ آسیا</title>
    <link href="~/Areas/Admin/Content/Css/icons/icomoon/styles.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Css/components.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Css/Core.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Css/colors.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Images/favicon.png" rel="icon" type="image/x-icon" />
</head>
<body class="login-container bg-sani2">
    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper">
                <div class="content p-20">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/Areas/Admin/Scripts/Core/jquery.min.js"></script>
    <script src="~/Areas/Admin/Scripts/Core/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Areas/Admin/Scripts/Plugin/jgrowl.min.js"></script>
    <script src="~/Areas/Admin/Scripts/Core/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Scripts/Core/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
         function notifiction(type, message) {
            switch (type) {
                case 0:
                    $.jGrowl(message, { theme: 'alert-styled-left alert-arrow-left bg-success', header: 'موفقیت', position: 'bottom-right', life: 5000 });
                    break;
                case 1:
                    $.jGrowl(message, { theme: 'alert-styled-left alert-arrow-left bg-danger', header: 'عدم موفقیت', position: 'bottom-right', life: 10000 });
                    break;
                default:
                    $.jGrowl(message, { theme: 'alert-styled-left alert-arrow-left bg-warning', header: 'هشدار', position: 'bottom-right', life: 8000 });
                    break;
            }
        };
         $(document).ready(() => {
            let resualt = @Html.Raw(Json.Encode(ViewBag.Result));
            if (resualt != null) {
                if (resualt != "Success") {
                    notifiction(1, resualt);
                }
            }
        });
    </script>
</body>
</html>
