@model string
<aside class="user-info-wrapper">
    <div class="user-cover" style="background-image: url(~/Content/Images/account/user-cover-img.jpg);">
        <a href="/Account/ChangePass" class="info-label no-decor"><i class="icon-lock"></i>تغییر رمز عبور</a>
    </div>
    <div class="user-info">
        <div class="user-data">
            <h4 class="h5">@Model</h4>
        </div>
    </div>
</aside>